{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">Transacted</th>
    </tr>
  </thead>
  <tbody>
      {% for shares in own %}
    <tr>
      <td>{{shares["symbol"]}} </td>
      <td>{{shares["name"]}}</td>
      <td> {{shares["shares"]}}</td>
      <td>{{shares["price"]}}</td>
      <td>{{shares["total_price"]}} </td>
    </tr>
     {% endfor %}
  </tbody>
</table>
{% endblock %}