{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">Transacted</th>
    </tr>
  </thead>
  <tbody>
      {% for t in transacted %}
    <tr>
      <td>{{t["symbol"]}} </td>
      <td> {{t["shares"]}}</td>
      <td>{{t["price"]}}</td>
      <td>{{t["create_at"]}} </td>
    </tr>
     {% endfor %}
  </tbody>
</table>
{% endblock %}